

{% block content %}
   
  <div class="crud-container">
    <h1>Editar Alumno</h1>
    <form method="post" action="{% url 'editar_alumno' alumno.id %}" class="edit-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-edit">Guardar cambios</button>
    </form>
    <br>
    <a href="{% url 'listar_alumnos' %}" class="btn-back">Volver a la Lista de Alumnos</a>
  </div>


{% endblock %}

<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  
    .crud-container {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 10px;
    }
  
    .edit-form, .add-form {
      max-width: 400px;
      margin: 0 auto;
    }
  
    .btn-edit {
      background-color: #4caf50;
      color: #fff;
    }
  
    .btn-delete {
      background-color: #ff6347;
      color: #fff;
    }
  
    .btn-add {
      background-color: #2196f3;
      color: #fff;
    }
  
    .btn-back {
      background-color: #ccc;
      color: #000;
      text-decoration: none;
      padding: 8px 12px;
      border-radius: 4px;
      display: inline-block;
    }
  </style>
  